<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625548069309-jtdu9t44h81uksap3q4i9lsn5nai9kcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625548069309-jtdu9t44h81uksap3q4i9lsn5nai9kcl</string>
	<key>API_KEY</key>
	<string>AIzaSyBlKE7MhICGU9LAkOtrLLlia5LEirlqNMk</string>
	<key>GCM_SENDER_ID</key>
	<string>625548069309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nemes1s.FirebaseCrashlytics</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlytics-b4d86</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlytics-b4d86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625548069309:ios:5b167a1f467313fad0aad4</string>
</dict>
</plist>